*{
	padding: 0;
	margin: 0;
	border: 0;
}

*,*:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus, :active{outline: none;}
a:focus, a:active{outline: none;}

nav,footer,header,aside{display: block;}

html, body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	font-size: 14px;
	line-height: 1;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input,button,textarea{font-family: inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding: 0; border: 0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li {list-style: none;}
img {vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size: inherit; font-weight: 400;}


/* Work with project */

body{
	color: #575757;
	font-weight: 400;
	font-size: 16px;
	line-height: 120%;
	font-family: 'Poppins', sans-serif;
}

h1, h2 {
	font-family: 'Roboto', sans-serif;
}

/* header block!.................... */

.header {
	background: #e0dfdf;
	padding: 18px 0px;
}
.container {
	width: 1200px;
	margin: 0px auto;
}
.header__content {
	display: flex;
	padding: 0px 16px;
	align-items: center;
}
.logo {
	width: 128px;
}

.logo img {
	width: 100%;
}

.header__nav {
	margin-right: 40px;
	margin-left: auto;
}

.menu {
	display: flex;
	justify-content: space-between;
	width: 460px;
}
.menu__item {
	font-style: normal;
	font-size: 13px;
	line-height: 100%;
}


.menu__item a {
	font-size: 13px;
	line-height: 100%;
	color: #444444;
}

.menu__item_active a {
	font-size: 15px;
}

.menu__btn {
	width: 42px;
	height: 42px;
	display: none;
	margin-left: 20px;
	background: #63625e;
}

.menu__btn img {
	width: 100%;	
}

.btn {
	color: #FFFFFF;
	min-width: 125px;
	background: #575445;
	border-radius: 6px;
	font-size: 16px;
	line-height: 22px;
	padding: 10px 18px;
}

.header__btn-buy {
	margin-right: 20px;
}

/* Offer block!.................... */

.offer {
	padding-top: 237px;
	padding-bottom: 227px;
	background: url('../img/big_background.png') center / cover;
}

.offer__title {
	font-style: normal;
	font-weight: 400;
	font-size: 48px;
	line-height: 58px;
	color: #FFFFFF;
	margin-bottom: 9px;
	width: 416px;
}
.offer__description {
	font-style: normal;
	font-weight: 400;
	font-size: 17px;
	line-height: 25px;
	color: #CACCD1;
	width: 495px;
}


/* section "about" */

.about {
	background: #F5F5F5;
	padding: 100px 0px;
}

.about img, .about__info {
	width: 50%;
}

.about__content {
	display: flex;
}
.about__info {
	padding-top: 71px;
	padding-left: 43px;
}
.section-title {
	font-style: normal;
	font-weight: 400;
	font-size: 36px;
	line-height: 43px;
	margin-bottom: 7px;
	color: #575445;
}
.section-description {
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;
	margin-bottom: 32px;
	width: 538px;
}

.about__description {
	width: 395px;
}

.section-link {
	font-style: normal;
	font-weight: 400;
	font-size: 15px;
	line-height: 21px;
	color: #575445;
}

.section-link::after {
	content: "";
	width: 20px;
	height: 10px;
	background: url('../img/Path.png');
	margin-left: 6px;
	display: inline-block;
}
/* end................................ */


/* setting product block */

.setting {
	background: #f8f8f8;
	padding: 89px 0px 149px 0px;
}

.div-title {
	font-family: Roboto;
	font-size: 36px;
	font-weight: 400;
	line-height: 43px;
	letter-spacing: 0em;
	text-align: center;
	color: #575445;
	margin-bottom: 10px;
}
.div-description {

	font-family: 'Poppins';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;
	text-align: center;
	width: 538px;
	position: absolute;
	height: 58px;
	left: calc(50% - 538px/2);
	margin-left: 0px;
}

.setting__description {
	width: 538px;
	height: 58px;
}

/* .................................. */


/* products block */

.products {
	background: #f8f8f8;
	padding-bottom: 35px;
	padding-left: 100px;
}

.products__content {
	display: flex;
	flex-wrap: wrap;
}
.fon {
background-color: #575445;
border-radius: 32px;
width: 64px;
height: 64px;
text-align: center;
padding: 19px;
margin-bottom: 10px;
margin-left: 105px;
}

.products_item {
	padding: 0px 102px 110px 0px;
	flex: 0 1 33.333%;
}

.product-title {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 24px;
	color: #575445;
	margin-bottom: 10px;
	margin-left: 45px;
}

.title-item {
padding-left: 15px;
}

.product-description {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 20px;	
	text-align: center;

	color: #575445;

}
.products__description {
	width: 287px;
	height: 59px;
}

/* ................................... */


/* store block */

.store {
	padding-top: 45px;
	background: #fcfcfc;
	padding-left: 40px;
	height: 25%;
}

.store-title {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 36px;
	line-height: 43px;
	text-align: center;
	color: #575445;
	padding-bottom: 8px;
}
.store-description {
	/* font-family: 'Poppins';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;
	text-align: center;
	color: #575445; */
	/* margin-left: 330px; */

	font-family: 'Poppins';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;
	text-align: center;
	width: 538px;
	position: absolute;
	height: 58px;
	left: calc(50% - 538px/2);
	margin-left: 0px;
	padding-bottom: 30px;
}
.store__description {
	width: 538px;
	height: 58px;
}
/* .................................. */


/* cart block */

.cart {
	margin-top: 20px;
	margin-bottom: 15px;
}
.cart__content {
	display: flex;
	flex-wrap: wrap;
}
.cart__item {
	height: 500px;
	flex: 0 1 33.333%;
	border-radius: 10px;
	padding: 0px 25px 15px 0px;
}
.item-cart {
	background: url('../img/store/IMAGE_1.png') no-repeat;
}

.item-cart:nth-child(2) {
	background: url('../img/store/IMAGE_2.png') no-repeat;
}

.item-cart:nth-child(3) {
	background: url('../img/store/IMAGE_3.png') no-repeat;
}

.item-cart:nth-child(4) {
	background: url('../img/store/IMAGE_4.png') no-repeat;
}

.item-cart:nth-child(5) {
	background: url('../img/store/IMAGE_5.png') no-repeat;
}

.item-cart:nth-child(6) {
	background: url('../img/store/IMAGE_6.png') no-repeat;
}


.cart-title {
	
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 28px;
line-height: 34px;
color: #575445;
padding: 35px 100px 9px 100px;
}
.title-cart {
	text-align: center;
}
.cart-description {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 22px;
	text-align: center;
	color: #575445;
	padding: 0px 30px 30px 84px;
	margin-bottom: 15px;
}
.cart__description {
	width: 375px;
	height: 45px;
}


.cart-link {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 21px;
	color: #575445;
	padding: 10px 30px 30px 128px;
}

.cart-link:last-child {
padding-left: 137px;
margin-top: 80px;
}


.cart-link::after {
	content: "";
	width: 20px;
	height: 10px;
	background: url('../img/Path.png');
	margin-left: 6px;
	display: inline-block;
}

/* .................................. */

/* block ""link-categories */

.link-categories {
padding-bottom: 90px;
text-align: center;
}
.link__categories {
	width: 183px;
	height: 21px;
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 21px;

	color: #575445;
}

.link-categories::after {
	content: "";
	width: 20px;
	height: 10px;
	background: url('../img/Path.png');
	margin-left: 6px;
	display: inline-block;
}

/* .................................. */



/* block "check out" */

.check {
	padding-top: 440px;
	background: url('../img/Check/check_sea.png') center / cover;
	padding-bottom: 1px;
}

.check__content {
	/* position: sticky; */
}
.check_fon {
	background: #292C32;
	border-radius: 14px;
	height: 48px;
	max-width: 635px;
	margin-bottom: 35px;
	margin-top: 60px;
	margin-left: auto;
}
.check__nav {
	margin-right: 25px;
	/* margin-left: auto; */
}
.menu-check {
	display: flex;
	width: 640px;
}
.menu-check__item {
	padding-top: 15px;
	padding-left: 1px;
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 400;
	font-size: 11px;
	line-height: 12px;
}

.menu-check__item a {
	color: #FFFFFF;
}

.check_img {
	padding: 0px 22px;
}

/* .................................. */



/* block "shop visit" */


.shop {
	background: #375C58;
	border-radius: 0px;
	width: 100%;
	height: 393px;
}

.shop__first-title {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 20px;
	text-align: center;
	letter-spacing: 2px;
	text-transform: uppercase;
	color: #FAFAFC;
	padding-top: 75px;
	padding-bottom: 3px;
}

.shop-title {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 36px;
	line-height: 43px;
	text-align: center;
	color: #E6B939;
	padding-bottom: 8px;
	
}
.shop-description {
	color: #FAFAFC;

	font-family: 'Poppins';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;
	text-align: center;
	width: 538px;
	position: absolute;
	height: 58px;
	left: calc(50% - 538px/2);
	margin-left: 0px;
	padding-bottom: 30px;
}
.shop__description {
	width: 538px;
}

.btn-shop {
	position: relative;
	padding-top: 5px;
	/* padding-left: 553px; */
}

.shop-btn {
	background: #FFFFFF;
	height: 44px;
	padding: 5px 5px 5px 5px;
	max-width: 125px;
	border-radius: 6px;
	font-size: 16px;
	
	position: absolute;
	left: 44.3%;
	right: 0px;
	margin-top: 75px;
}

.btn__description {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 400;
	font-size: 15px;
	line-height: 22px;
	text-align: center;
	color: #575445;

	/* position: absolute;
	width: 75px;
	height: 23px;
	left: calc(50% - 75px/2);
	top: 10px; */
}


/* media-запросы!.................... */

/* large 1025px - 1300px */
@media (max-width: 1300px) {
	.container {
		width: 960px;
	}
	.header__nav {
		margin-right: 25px;
	}

}



/* Medium 769px - 1024px */
@media (max-width: 1024px) {
	.container {
		width: 720px;
	}
	.header__content {
		position: relative;
	}
	.header__nav {
		display: none;
		position: absolute;
		right: 0%;
		top: 60px;
		background: #FFF;
		border: 2px solid #575445;
		border-radius: 16px;
		padding: 17px;
		margin: 0px;
	}

	.header__nav.header__nav-active {
		display: block;
	}

	.menu {
		flex-direction: column;
		width: auto;
		text-align: center;
	}
	.menu__item {
		margin-bottom: 12px;
	}
	.menu__item:last-of-type {
		margin-bottom: 0px;
	}

	.menu__btn {
		display: block;
	}

	.header__btn-buy {
		margin-left: auto;
	}

	.about__description {
		width: auto;
	}

	.about__info {
		padding-top: 40px;
		padding-left: 40px;
	}
	
}



/* Small 577px - 768px */
@media (max-width: 768px) {
	.container {
		width: 540px;
	}

	.offer {
		padding-top: 237px;
		padding-bottom: 227px;
		background: url('../img/big_background.png') 75% center / cover;
		margin-bottom: 0px;
	}

	.offer__title {
		font-style: normal;
		font-weight: 400;
		font-size: 36px;
		line-height: 40px;
		color: #fffdfd;
		margin-bottom: 15px;
		width: 350px;
	}
	.offer__description {
		font-style: normal;
		font-weight: 400;
		font-size: 18px;
		line-height: 25px;
		color: #fcfcff;
		width: 280px;
		margin-top: 25px;
	}

	.about {
		background: #F5F5F5;
		padding: 60px 0px;
	}

	.about__content {
		display: flex;
		flex-direction: column;
	}

	.about__info {
		padding-top: 40px;
		padding-left: 0px;
	}


	.about img, .about__info {
		width: 100%;
	}

	.header__nav {
		display: none;
		position: absolute;
		right: 2.5%;
		top: 60px;
		background: #FFF;
		border: 2px solid #575445;
		border-radius: 16px;
		padding: 17px;
		margin: 0px;
	}

	.header__nav.header__nav-active {
		display: block;
	}

}



/* the smallest 320px - 576px */
@media (max-width: 576px) {
	.container {
		width: 100%;
		padding: 0px 15px;
	}
	.btn {
		display: none;
	}

	.menu__btn {
		margin-left: auto;
	}

	.offer {
		padding-top: 60px;
		padding-bottom: 100px;
		background: url('../img/big_background.png') 75% center / cover;
	}

	.offer__title {
		width: auto;
		font-size: 38px;
	}

	.offer__description {
		font-style: normal;
		font-weight: 400;
		font-size: 18px;
		line-height: 25px;
		color: #fcfcff;
		width: auto;
		margin-top: 45px;
	}

	.about {
		background: #F5F5F5;
		padding: 35px 0px;
	}

}

/* 29:00 YT video */